body{
	/*background-color: lightgreen;*/
	font-size: 20px;
	background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;	
}
#mainfield{
	width: 89%;
	margin: 50px;
}
#contactbox{
	background-color: white;
}
.left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.right{
	flex-basis: 40%;
	padding: 40px;
	color: black;
}
h1{
	margin-bottom: 20px;
}
.contactbox p{
	margin-bottom: 10px;
	margin-top: 10px;
}
.input{
    display: flex;
	margin: 20px;
}
.right{
	margin-top: 10px;
	background-color: lightseagreen;
	color: white;
}
.footer{
	background-color: black;
	text-align: center;
	height: 50px;
	padding-top: 10px;
	box-sizing: border-box;
	clear: both;
	color: white;
}
.aboutme{
	padding-left: 17px;
}
label.title{
	color: white;
	font-size: 35px;
	line-height: 80px;
	/*padding: 0 100px;*/
	padding-left: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
nav{
	background-color: #0082e6;
	height: 80px;
	margin-left: 48px;
	margin-right: 80px;
}
nav ul{
	float: right;
	margin-right: 20px;
	padding-left: 80px;
}
nav ul li{
	display: inline-flex;
	line-height: 50px;
	margin-right:1px ;
	margin-left: 10px;
	padding-left: 30px;
}
nav ul li a{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}
