body{
	/*background-color: lightgreen;	*/
	background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.image{
	display: flex;
	justify-content: center;
	width: 100%;
}
.resume-box{
	width: 850px;
	height: 900px;
	margin: 0 auto;
	background-color: white;
}
.imgtext{
	padding-bottom: 50px;
	margin-left: 2px;
	font-size: 26px;
}
img{
	height: 30%;
	width: 30%;
}
.header{
	background-color: lightskyblue;
	height: 100px;
	text-align: center;
	color: white;
	padding: 1px;
}
#container{
	padding: 1%;
	box-sizing: border-box;
	min-height: 500px;
	display: flex;
}
.about{
	background-color: floralwhite;
	width: 33.3%;
	float: left;
	margin: 2px;
}
.education{
	background-color: floralwhite;
	width: 33.3%;
	padding-left: 30px;
    margin: 2px;
    float: right;
}
.skills{
	background-color: floralwhite;
	width:33.3%;
	float: left;
	margin: 2px;
}
/*.footer{
	background-color: lightskyblue;
	text-align: center;
	height: 50px;
	padding-top: 10px;
	box-sizing: border-box;
	clear: both;
	color: lightskyblue;
}
*/
h2{
	text-align: center;
}
label.title{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	text-transform: uppercase;
}
nav{
	background-color: #0082e6;
	height: 80px;
	width: 100%;
	margin-bottom: 5px;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 50px;
	margin-right:10px ;
	margin-left: 10px;

}
nav ul li a{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 7px 13px;
}
a{
	text-decoration: none;
}
.footer{
	background-color: lightskyblue;
	text-align: center;
	height: 50px;
	padding-top: 10px;
	box-sizing: border-box;
	clear: both;
	margin-top: 5px;
}