body{
	/*background-color: lightgreen;	*/
	background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.image{
	display: flex;
	justify-content: center;
}
.resume-box{
	width: 850px;
	height: 900px;
	margin: 0 auto;
	background-color: white;
}
.imgtext{
	padding-bottom: 50px;
	margin-left: 2px;
	font-size: 26px;
}
#horizontal-line{
	width: 100%;
	height: 5px;
	background-color: lightgreen;
}
img{
	height: 30%;
	width: 30%;
}
.header{
	background-color: lightskyblue;
	height: 100px;
	text-align: center;
	color: white;
	padding: 1px;
}
#container{
	padding: 1%;
	box-sizing: border-box;
	min-height: 500px;
	display: flex;
}
.about{
	background-color: floralwhite;
	width: 33.3%;
	float: left;
	margin: 2px;
}
.education{
	background-color: floralwhite;
	width: 33.3%;
	padding-left: 30px;
    margin: 2px;
    float: right;
}
.skills{
	background-color: floralwhite;
	width:33.3%;
	float: left;
	margin: 2px;
}
.footer{
	background-color: lightskyblue;
	text-align: center;
	height: 50px;
	padding-top: 10px;
	box-sizing: border-box;
	clear: both;
}
h2{
	text-align: center;
}