body{	
    background-color: lightgreen;
    color: black;
    font-size: 20px;
    margin: 10px;
}
.Opening h1{
    background-color: black;
    font-size: 30px;
    color: #fff;
}
#navigation{
	font-size:25px;
	background-color: white;
	padding: 5px;
}
#navigation li{
	display:inline;
	margin-left: 80px;
	font-size: 30px;
	clear: right;
}
.initial{
	background-color: lightgreen;
	color:white;
	font-size: 10px;
	padding: 50px;
	margin: 70px;
	padding-right: 100px;
	padding-left: 100px;

}
.main-content{
	font-size: 50px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
}
