body{
	font-size: 20px;
	background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;	
}
label.title{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	text-transform: uppercase;
}
nav{
	background-color: #0082e6;
	height: 80px;
	width: 100%;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 50px;
	margin-right:10px ;
	margin-left: 10px;

}
nav ul li a{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 7px 13px;
}
.up{
	margin-top: 5px;
	flex-basis: 100%;
	padding: 40px 60px;
	background-color: whitesmoke;
	color: black;	
}
.down{
	flex-basis: 100%;
	padding: 40px;
	color: white;
	background-color: darkslategrey;
	margin-top: 5px;
}
.module{
	margin-top: 5px;
	flex-basis: 100%;
	padding: 40px 60px;
	background-color: silver;
	color: black;	
}
h1{
	margin-bottom: 20px;
}

img{
	margin-bottom: 2%;
}
.footer{
	background-color: skyblue;
	text-align: center;
	height: 50px;
	padding-top: 10px;
	box-sizing: border-box;
	clear: both;
	color: black;
	margin-top: 5px;
}
a{
	text-decoration: none;
}